:root{
  --color-primary: #0B4862;
  --color-secondary: #019EE0;
  --color-glassy: rgba(47, 194, 202, 0.4);
  --color-lite: #F1F6F6;
  --color-body: #4B5458;
}

@font-face {
  font-family: Vazir;
  src: url(./fonts/vazir/Vazir.woff2);
}
@font-face {
  font-family: Vazir-Thin;
  src: url(./fonts/vazir/Vazir-Thin.woff2);
}
@font-face {
  font-family: Vazir-Medium;
  src: url(./fonts/vazir/Vazir-Medium.woff2);
}
@font-face {
  font-family: Vazir-Light;
  src: url(./fonts/vazir/Vazir-Light.woff2);
}
@font-face {
  font-family: Vazir-Bold;
  src: url(./fonts/vazir/Vazir-Bold.woff2);
}


body{
  font-family: Vazir;
  color: var(--color-body);
}

h1,h2,h3{
  color: var(--color-secondary);
}