/* Colors start */
:root {
  --color-primary: #0b4862;
  --color-secondary: #019ee0;
  --color-glassy: rgba(47, 194, 202, 0.4);
  --color-lite: #f1f6f6;
  --color-body: #4b5458;
  --color-border: #e5e5e5;
  --dark-white: rgb(220, 220, 220);

  /* propertie size */
  --border-radius: 32px;

  /* font-sizes */
  --font-small: 1.8rem;
  --font-medium: 2.2rem;
}
/* Colors end */

/* General start */

*,
*::after,
*::before {
  box-sizing: border-box;
}
*::selection {
  color: #fff;
  background-color: rgb(0, 84, 241);
}

/* General end */

/* General start */

body {
  background-color: var(--color-lite);
  direction: rtl;
  overflow-x: hidden;
}

/* General end */

/* Typography start */
html {
  font-size: 62.5%;
}

@font-face {
  font-family: Vazir;
  src: url(./fonts/vazir/Vazir.woff2);
}
@font-face {
  font-family: Vazir-Thin;
  src: url(./fonts/vazir/Vazir-Thin.woff2);
}
@font-face {
  font-family: Vazir-Medium;
  src: url(./fonts/vazir/Vazir-Medium.woff2);
}
@font-face {
  font-family: Vazir-Light;
  src: url(./fonts/vazir/Vazir-Light.woff2);
}
@font-face {
  font-family: Vazir-Bold;
  src: url(./fonts/vazir/Vazir-Bold.woff2);
}

body {
  font-family: Vazir;
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--color-body);
  text-align: right;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 4.8rem;
  }
}

/* Typography end */

/* section start */

.section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0 10rem 0;
}

.section.hero{
  padding: 0;
}

.section.space-sec {
  margin: 8rem auto;
}

/* section end */

/* Links start */

.link {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  filter: opacity(70%);
}

.link:hover {
  filter: opacity(100%);
  transition: filter 0.2s;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.8rem;
  }
}

/* Links end */

/* Tags start */

.tag {
  font-size: 1.8rem;
  color: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  border-radius: 100vh;
  padding: 0.5rem 1.5rem;
  margin: 0;
  filter: opacity(90%);
}

.tag:hover {
  transition: filter 0.2s;
  filter: opacity(100%);
}

.tag::after {
  content: "#";
}

.tag--primary {
  color: #fff;
  background-color: var(--color-primary);
}

.tag--secondary {
  color: #fff;
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .tag {
    padding: 0.75rem 1.5rem;
  }
}

/* Tags end */

/* List start */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-body);
  display: inline-block;
}

.list--inline .list__item {
  margin-left: 2rem;
}

/* List end */

/* Icon start */

.icon {
  /* for instance! */
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--white {
  fill: #fff;
}

/* Icon end */

/* button start */

.btn {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border: 0;
  outline: 0;
  border-radius: 100vh;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.18s;
  box-sizing: border-box;
  text-align: center;
  margin: 1rem 0;
}

a.btn {
  text-decoration: none;
}

.btn:hover {
  filter: opacity(92%);
  transition: 0.18s;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
  padding: 2rem 3rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.8rem;
  }
}

/* button end */

/* input-group start */

.input {
  font-size: 2.2rem;
  padding: 1.6rem;
  border: 1px solid var(--color-border);
  outline: 0;
  direction: rtl;
  border-radius: 32px;
  height: 9rem;
  color: #4b5458;
  font-weight: 300;
}

.input::placeholder {
  color: #bfbfbf;
}

.input-group {
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 32px;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-group .input {
  background-color: transparent;
  border: 0;
  flex-grow: 1;
}

.input-group .search--icon {
  fill: var(--color-lite);
}

.input-group .input,
.btn-search {
  margin: 0;
}

.input-group .btn-search {
  margin: 1rem;

  border-radius: 25px;
}

.input-group .search {
  display: none;
}
.btn-search .icon {
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.8rem;
  }

  .input-group {
    height: 7.2rem;
    border-radius: 25px;
  }

  .input-group .btn-search {
    padding: 0 2rem;
    border-radius: 19px;
    margin-left: 0.7rem;
  }

  .btn-search .icon {
    display: none;
  }

  .btn-search .search {
    display: inline-block;
  }
}
/* input-group end */

/* card start */

.card {
  border-radius: 32px;
  background-color: #fff;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem;
}

.card__header {
  padding-bottom: 0;
}

/* card end */

/* user start */

.user .avatar {
  float: right;
  margin-left: 10px;
  border-radius: 100vh;
}

.user__name,
.user__title {
  font-size: 1.8rem;
  margin: 0;
}

.user__name {
  color: var(--color-primary);
  font-weight: 600;
  margin-top: 1.5rem;
}
/* user end */

/* blog-card start */

.blog {
  margin: 3rem;
}

.blog .image-container {
  height: 80vw;
  border-radius: 2.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.blog .image-container img {
  height: 100%;
}

.blog .blog--title {
  font-size: 24px;
  color: var(--color-primary);
  font-weight: 600;
}

.blog .user {
  margin: 0;
}

.blog .user__name,
.user__title {
  line-height: 1.9;
}

/* blog-card end */

/* media start */

.media {
  width: 34rem;
  padding: 10px;
}

.media__image {
  fill: var(--color-secondary);
  background-color: var(--color-glassy);
  width: 10.5rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 3px solid #bfe4f3;
}
.media .icon {
  width: 6rem;
  height: 6rem;
}

.media .media__title {
  margin: 2rem 0;
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: bold;
}

.media .media__description {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .media .media__title {
    font-size: 2.8rem;
  }
}

/* media end */

/* qoute start */

.qoute__text {
  color: var(--color-body);
  font-size: 2.4rem;
}
.qoute__text::after {
  content: '"';
}
.qoute__text::before {
  content: '"';
}

.qoute--container {
  padding: 1.5rem 3rem;
  border-radius: var(--border-radius);
  background-color: #fff;
  flex-direction: column;
  display: flex;
  margin: auto;
  -webkit-margin-collapse:auto;
}

.qoute--container .user {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1.5rem;
}

.qoute--container .user svg {
  fill: var(--color-primary);
  display: flex;
  align-self: flex-end;
}

@media screen and (max-width: 300px) {
  .qoute__text {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 410px) {
  .qoute--container .user {
    flex-direction: column;
    direction: ltr;
    white-space: normal;
  }
}

/* qoute end */

/* testimonial start */

/* .testimonial__image { */
/* width: 50vw; */
/* height: 50vw; */
/* margin: auto; */
/* } */
/*  */
/* .testimonial { */
/* direction: rtl; */
/* display: flex; */
/* } */
/*  */
/* .testimonial .triangle { */
/* width: 100%; */
/* height: 100%; */
/* } */
/*  */
/* .pentagon--mask { */
/* mask-image: url(../images/pentagon_css_mask.png); */
/* -webkit-mask-image: url(../images/pentagon_css_mask.png); */
/*  */
/* -webkit-mask-position: top left; */
/* mask-position: top left; */
/*  */
/* -webkit-mask-repeat: no-repeat; */
/* mask-repeat: no-repeat; */
/*  */
/* -webkit-mask-size: contain; */
/* mask-size: contain; */
/*  */
/* mask-position: center; */
/* -webkit-mask-position: center; */
/*  */
/* max-height: fit-content; */
/* max-width: max-content; */
/* } */
/* .testimonial .pentagon--container { */
/* display: flex; */
/* justify-content: center; */
/* width: 33vw; */
/* height: 33vw; */
/* position: relative; */
/* /* top: -385px; */
/* right: 100px; */
/* top: -38.5vw; */
/* right: 10vw; */
/* } */
/*  */

/*  */

/* @media screen and (max-width: 766px) { */
/* .testimonial { */
/* gap: 8rem; */
/* } */
/*  */
/* .testimonial__image { */
/* width: 72vw; */
/* height: 72vw; */
/* } */
/* .testimonial .pentagon--container { */
/* width: 47vw; */
/* height: 47vw; */
/* top: -55.5vw; */
/* right: 15vw; */
/* } */
/* } */
/*  */

/* testimonial end */

/* grid start */

.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* grid end */

/* swiper-testimonials start */

.qouteSwiper{
  margin: auto;
}

.testimonial .swiper-wrapper {
  margin: auto;
  position: relative;
}
.testimonial .swiper {
  width: 100%;
  max-width: 40rem;
  height: auto;
  margin: auto;
}


.testimonial .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  width: 200px;
  opacity: 0.5;
  transition: 0.5s;
  margin: 0 auto;
}
.testimonial .swiper-slide-shadow {
  visibility: hidden;
}

.testimonial .swiper-slide-active {
  opacity: 1;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .testimonial .swiper {
    max-width: 30rem;
  }
}

@media screen and (min-width: 768px) {
  .qouteSwiper .swiper-slide {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

/* swiper-testimonials end */

/* swiper-doctor start */

.doctors .swiper {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
}

.doctors .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* my codes on swiper-doctor */

.doctors .swiper-slide-duplicate,
.swiper-slide-active {
  opacity: 1;
}
.doctors .swiper-slide-next {
  opacity: 1;
}

/* my codes on swiper-doctor */

/* swiper-doctor end */

/* dr--card start */

.dr--card {
  margin: 3rem;
}

.dr--card .dr__image {
  border-radius: 1rem;
}

.dr--card .dr__name {
  font-size: 2.2rem;
}

.dr--card .image-container {
  height: 80vw;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 15px;
  border: 1px solid gray;
}

.dr--card .image-container img {
  height: 100%;
}

.dr--card .card__body {
  margin-right: 30px;
}

/* dr--card end */

/* map--container start */

.map--section {
  margin: auto;
  width: fit-content;

  /* height: fit-content; */
}

.map--container {
  border-radius: 10px;
  overflow: hidden;
  width: calc(100vw - 12rem);
  height: calc(100vw - 12rem);
}

.card--map {
  margin: 3rem;
  padding: 3rem;
  width: fit-content;
  gap: 3rem;
  overflow: visible;
}

.card--map .media {
  width: 100%;
}

.card--map .media__container {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .map--container {
    width: 35vw;
    height: 100%;
  }
  .card--map .media__container {
    width: 35vw;
    height: fit-content;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .map--container {
    border-radius: 1;
    width: calc(100vw - 12rem);
    height: calc(100vw - 12rem);
  }
}

@media screen and (min-width: 768px) {
  .map--container .grid--1x2 {
    grid-template-columns: 1fr 1.2fr;
    white-space: nowrap;
  }
}

/* map--container end */

/* map--media start */

.map--container .media__container {
  background: red;
}

.map-media {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.map-media .btn--secondary {
  padding: 5rem;
}

.map-media .icon {
  margin-top: 3rem;
  width: 6rem;
  fill: var(--color-secondary);
}

.map-media .map-media_text {
  margin: 1rem 0 0 0;
}

.map-media .map-media_text {
  font-weight: 600;
  color: var(--color-primary);
}

.map-media .btn {
  display: block;
  padding: 1rem 2rem;
}
.map-media .map-media_text,
.btn {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .card--map .media__container {
    height: 100%;
  }
}
/* map--media end */

/* callout start */

.callout {
  height: fit-content;
  background-color: var(--color-secondary);
  overflow: hidden;
  border-radius: 32px;
  padding-bottom: 2rem;
}
.callout .grid {
  grid-template-rows: auto auto;
}

.callout .btn {
  background-color: #fff;
  margin: auto;
  color: var(--color-secondary);
  font-size: 2.2rem;
  padding: 1rem 3rem;
}

.callout h2 {
  white-space: normal;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
}

.callout img {
  height: 80vw;
  position: relative;
  right: 80px;
  bottom: 20vw;
  right: 100px;
}

.callout .callout__contant {
  height: 300px;
  display: flex;
  justify-content: center;
  padding-right: 3rem;
  margin-top: 0;
  order: 2;
}
.callout .callout__content_child {
  height: fit-content;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .callout {
    height: 400px;
  }

  .callout .callout__contant {
    height: 400px;
    order: unset;
    margin-right: unset;
    margin: 0 2rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: auto 45%;
  }
  .callout img {
    bottom: 140px;
    height: 480px;
  }
}

@media screen and (max-width: 450px) {
  .callout h2 {
    font-size: 2.8rem;
  }
  .callout img {
    position: relative;
    right: unset;
    height: 90vw;
    margin: auto;
  }
}

/* callout end */

/* block--services start */

.block--services {
  padding-bottom: 9rem;
}

.block--services .title {
  max-width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
}

.block--services .grid {
  row-gap: 30px;
  /* grid-template-columns: 1fr 1fr; */
}

.block--services .media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .block--services .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .block--services .media {
    text-align: right;
    display: unset;
    /* margin-left: 2rem; */
  }
}

@media screen and (min-width: 1024px) {
  .block--services .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* block--services end */

/* collapsible start */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  display: block;
  max-height: 100vh;
  opacity: 1;
  transition: all 0.3s;
}

.collapsible__chevron {
  fill: red;
}
/* collapsible end */

/* LISTS start */
.list {
  list-style: none;
  padding-left: 0;
  font-weight: 400;
  padding: 0;
}

.list--inline {
  color: red;
}

.list--inline .list__item {
  display: inline-block;
}

/* LISTS end */

/* nav start */
.nav--row {
  background: var(--color-primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;
}

.nav .logo {
  height: 68px;
}

.nav .icon {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 1.25rem 2rem;
  border-bottom: 1px solid var(--color-border);
  margin: 0;
}

.nav__item a {
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--color-border);
  transition: color 0.2s;
}

.nav__item a:hover {
  text-decoration: none;
  color: #fff;
}
.nav .nav__toggler {
  /* padding: .5rem; */
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 1rem;
}
.nav .btn {
  display: none;
  padding: 1.4rem 2.8rem;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1.5px #fff;
  transition: 0.3s;
}

.nav .nav__item:last-child {
  border: none;
}

@media screen and (min-width: 768px) {
  .nav--row {
    background: transparent;
  }
  .nav {
    flex-direction: row;
  }
  .nav .nav__list {
    display: flex;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav .nav__item {
    border-bottom: none;
  }
  .nav .btn {
    display: unset;
  }
  .nav .icon {
    display: none;
  }
  .nav__item a {
    color: var(--color-body);
    font-size: 1.8rem;
  }
  .nav__item a:hover{
    transition: .2s;
    color: var(--color-secondary);
    font-weight: 500;
    text-shadow: var(--color-secondary) 0 0 1.2px;
  }
}

/* nav end */

/* Hero start */

.hero .hero__image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero .block__heading {
  font-size: 36px;
}

.hero .hero__image {
  width: 100%;
}

.hero__content {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 3.2rem;
}

.hero__content .btn {
  width: fit-content;
  padding: 1.5rem 3rem;
  line-height: 1.6;
  margin: 0;
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .hero .block__heading {
    font-size: 48px;
  }
}

/* Hero end */

/* statics start */
.statics {
  font-weight: 600;
  background: var(--color-primary);
  border-radius: 24px;
  margin: 3.2rem;
  margin-top: 0;
  padding: 1rem;
}

.statics .static__number,
.static__title {
  color: #fff;
  margin: 0;
}

.statics .static {
  text-align: center;
  margin-top: 3.5rem;
  margin: 3.5rem 2rem 0 2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #bfbfbf;
  border-left: unset;
}

.static:last-child {
  border: unset;
}

.statics .static__title {
  font-size: 2.4rem;
}

.statics .static__number {
  font-size: 4.8rem;
}

.statics .static__number::before {
  content: "+";
}

.statics.grid--1x3 {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .statics.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .statics .static {
    border-bottom: unset;
    border-left: 2px solid var(--color-border);
  }
  .static:last-child {
    border: unset;
  }

  .statics .static {
    /* margin-top: 3.5rem;
    padding-bottom: 4rem; */
    margin: 2rem 0;
    padding: 2rem 0;
  }
}

/* statics end */

/* qa start */

.qa {
  max-width: 768px;
}

.qa .collapsible__heading {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: var(--color-secondary);
  font-weight: 600;
}

.qa .collapsible--expanded .collapsible__header {
  border-bottom: 1px solid var(--color-border);
}

.qa .collapsible--expanded .collapsible__content {
  margin: 2rem 0;
}

.qa .collapsible__chevron {
  fill: var(--color-secondary);
}

.qa .qa--collapsible {
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

/* qa end */

/* doctors--container start */

.doctors--container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dr--card_container {
  padding: 1.75rem;
  height: fit-content;
  background-color: #fff;
  border-radius: 3.2rem;
}

.dr--card_container .dr__image {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  height: fit-content;
  object-fit: cover;
}

.dr--card_container .dr__name {
  text-align: right;
  color: var(--color-body);
  font-size: 2.2rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}
.dr--card_container .dr__title {
  text-align: right;
  color: var(--color-body);
  margin-bottom: 0;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .doctors--container {
    flex-direction: row;
  }
  .dr--card_container {
    margin: 2.2rem 4.4rem 2.2rem 4.4rem;
    padding: 3.4rem;
    object-fit: cover;
    margin: 0;
  }
  .dr--card_container .dr__image {
    object-fit: cover;
    height: fit-content;
  }
}

/* doctors--container end */

/* swiper-doctor start */

.doctors .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* my codes on swiper-doctor */

.doctors .swiper-slide {
  opacity: 1;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}

.doctors .swiper-button-prev {
  display: none;
}
.doctors .swiper-button-next {
  display: none;
}
.doctors .swiper-b-prev {
  transform: rotate(-90deg);
}
.doctors .swiper-b-next {
  transform: rotate(90deg);
}

.dr--navigation {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.dr--navigation {
  fill: var(--color-secondary);
  opacity: 0.8;
}
.dr--navigation .swiper-b-next,
.swiper-b-prev {
  opacity: 0.7;
  transition: 0.2s;
}
.dr--navigation .swiper-b-next:hover,
.swiper-b-prev:hover {
  opacity: 1;
}

/* my codes on swiper-doctor */

/* swiper-doctor end */

/* section--title start */

.section--title {
  padding: 3rem;
  position: relative;
  width: fit-content;
  height: 200px;
  margin: auto;
}
.section--title img {
  width: 14rem;
  position: relative;
  top: -110px;
  left: 50px;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .section--title img {
    display: none;
  }
}

/* section--title end */

/* new testimonial start */

@media screen and (max-width: 1024px) {
  .testimonial.grid--1x2 {
    grid-template-columns: 1fr;
    gap: 8rem;
  }
}

:root {
  --width: 500px;
}
.testimonial .image__container {
  width: var(--width);
  height: var(--width);
  position: relative;
  margin: auto;
  
}

.testimonial .image__container .pentagon--mask,
.triangle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonial .image__container .pentagon--mask {
  z-index: 1;
  width: 85%;
  height: 85%;
  top: 7.5%;
  right: 10.5%;
}

.testimonial .pentagon--mask {
  mask-image: url(../images/pentagon_css_mask.png);
  -webkit-mask-image: url(../images/pentagon_css_mask.png);

  -webkit-mask-position: top left;
  mask-position: top left;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;

  mask-position: center;
  -webkit-mask-position: center;

  max-height: fit-content;
  max-width: max-content;
}
@media screen and (max-width: 480px) {
  .image__container {
    margin: auto;
    max-width: 30rem;
    max-height: 30rem;
    background-color: red;
  }
}

/* new testimonial end */
