/* Colors start */
:root {
  --color-primary: #0b4862;
  --color-secondary: #019ee0;
  --color-glassy: rgba(47, 194, 202, 0.4);
  --color-lite: #f1f6f6;
  --color-body: #4b5458;

  /* font-sizes */
  --font-small:1.8rem;
  --font-medium:2.2rem;
}
/* Colors end */

/* General start */

body {
  background-color: var(--color-lite);
}

/* General end */

/* Typography start */
html {
  font-size: 62.5%;
}

@font-face {
  font-family: Vazir;
  src: url(./fonts/vazir/Vazir.woff2);
}
@font-face {
  font-family: Vazir-Thin;
  src: url(./fonts/vazir/Vazir-Thin.woff2);
}
@font-face {
  font-family: Vazir-Medium;
  src: url(./fonts/vazir/Vazir-Medium.woff2);
}
@font-face {
  font-family: Vazir-Light;
  src: url(./fonts/vazir/Vazir-Light.woff2);
}
@font-face {
  font-family: Vazir-Bold;
  src: url(./fonts/vazir/Vazir-Bold.woff2);
}

body {
  font-family: Vazir;
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--color-body);
  text-align: right;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 4.8rem;
  }
}

/* Typography end */

/* Links start */

.link {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  filter: opacity(70%);
}

.link:hover {
  filter: opacity(100%);
  transition: filter 0.2s;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.8rem;
  }
}

/* Links end */

/* Tags start */

.tag {
  font-size: 1.8rem;
  color: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  border-radius: 100vh;
  padding: .5rem 1.5rem;
  margin: 0;
  filter: opacity(90%);
}

.tag:hover{
  transition: filter .2s;
  filter: opacity(100%);
}

.tag::after {
  content: "#";
}

.tag--primary {
  color: #fff;
  background-color: var(--color-primary);
}

.tag--secondary {
  color: #fff;
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .tag{
    padding: .75rem 1.5rem;
  }
}

/* Tags end */


/* List start */

.list{
  list-style: none;
  padding-left: 0;
  color: var(--color-body);
  display: inline-block;
}

.list--inline .list__item{
  margin-left: 2rem;
}


/* List end */

/* Icon start */

.icon{
  /* for instance! */
  width: 40px;
  height: 40px;
}

.icon--primary{
  fill: var(--color-primary);
}

.icon--secondary{
  fill: var(--color-secondary);
}

/* Icon end */