<section class="hero section block--dark">
  <div class="grid grid--1x2">
    <div class="hero__content">
      <h1 class="block__heading">ما بهترین را برای سلامت دهان و دندان شما رقم میزنیم</h1>
      <p>پزشکان با باتجربه ما سابقه انجام خدمات متوعی برای مراجعین را دارا هستند و با جدید ترین متد ها سعی بر حل مشکلات شما میکنند </p>
      <button class="btn btn--secondary">رزرو ملاقات</button>
    </div>
    <div class="hero__image-container">
      <img class="hero__image" src="./images/doctor-hero.png" alt="">
    </div>
  </div>
</section>