<div class="blog">
  <div class="card card--secondary">
    <header class="card__header">
      <div class="image-container">
        <img
          src="./images/blog-image.png"
          alt="عکس مردی که چیز مضر برای دندان ها مینوشد"
        />
      </div>
    </header>
    <div class="card__body">
      <div href="#" class="tag tag--secondary tag--bigger">سلامتی دندان</div>
      <h3 class="blog--title">دلایل فرسایش دندان ها و راه های پیشگیری از این موضوع</h3>
      <p class="blog__summary">در این مقاله به دلایل فرسایش دندان ها و نحوه جلوگیری از این اتفاق خواهیم پرداخت و راهکار هایی جهت رفع این مشکل به شما خواهیم داد</p>
      <div class="user">
        <img src="./images/Avatar.png" alt="" class="avatar">
        <div>
          <p class="user__name">دکتر مرتضی صبیحی</p>
          <p class="user__title">دندان پزشک</p>
        </div>
      </div>
    </div>
  </div>
</div>