<div class="collapsible collapsible--expanded">
  <div class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="./images/sprite.svg#Chevron"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="./images/sprite.svg#arrow"></use>
    </svg>
  
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et
    nesciunt autem nisi minima dolorum animi numquam, beatae perspiciatis,
    adipisci veritatis sit ducimus ut, voluptatum inventore exercitationem
    libero maxime earum.
  </div>
  <div class="collapsible__line"></div>
</div>

<script src="./scripts/collapsible.js"></script>