<section class="section doctors">
  <div class="swiper dr--swiper">
    <div class="swiper-wrapper doctor--container">
      <div class="swiper-slide">
        <div class="dr--card_container">
          <div class="dr--card_header">
            <img src="./images/doctor-hero.png" alt="" class="dr__image" />
          </div>
          <div class="dr--card_content">
            <p class="dr__name">دکتر انوشیروان</p>
            <p class="dr__title">متخصص پرتز های دندانی</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dr--card_container">
          <div class="dr--card_header">
            <img src="./images/doctor-hero.png" alt="" class="dr__image" />
          </div>
          <div class="dr--card_content">
            <p class="dr__name">دکتر انوشیروان</p>
            <p class="dr__title">متخصص پرتز های دندانی</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dr--card_container">
          <div class="dr--card_header">
            <img src="./images/doctor-hero.png" alt="" class="dr__image" />
          </div>
          <div class="dr--card_content">
            <p class="dr__name">دکتر انوشیروان</p>
            <p class="dr__title">متخصص پرتز های دندانی</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dr--card_container">
          <div class="dr--card_header">
            <img src="./images/doctor-hero.png" alt="" class="dr__image" />
          </div>
          <div class="dr--card_content">
            <p class="dr__name">دکتر انوشیروان</p>
            <p class="dr__title">متخصص پرتز های دندانی</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dr--navigation">
    <div class="swiper-b-next">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#Chevron"></use>
      </svg>
    </div>
    <div class="swiper-b-prev">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#Chevron"></use>
      </svg>
    </div>
  </div>
</section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./scripts/dr-swiper.js"></script>
<!-- Swiper JS -->