<svg class="icon">
  <use xlink:href="#arrow"></use>
</svg>
<svg class="icon">
  <use xlink:href="#Chevron"></use>
</svg>
<svg class="icon">
  <use xlink:href="#copying"></use>
</svg>
<svg class="icon">
  <use xlink:href="#hamburger"></use>
</svg>
<svg class="icon">
  <use xlink:href="#email"></use>
</svg>
<svg class="icon">
  <use xlink:href="#instagram"></use>
</svg>
<svg class="icon">
  <use xlink:href="#location"></use>
</svg>
<svg class="icon">
  <use xlink:href="#heart"></use>
</svg>
<svg class="icon">
  <use xlink:href="#linkedin"></use>
</svg>
<svg class="icon">
  <use xlink:href="#quote"></use>
</svg>
<svg class="icon">
  <use xlink:href="#support"></use>
</svg>
<svg class="icon">
  <use xlink:href="#telegram"></use>
</svg>