<nav class="nav--row">
  <nav class="nav collapsible collapsible--expanded section">
    <a href="/"><img class="logo" src="/images/logo.png" alt="" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="./images/sprite.svg#hamburger"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">خانه</a></li>
      <li class="nav__item"><a href="#">درباره ما</a></li>
      <li class="nav__item"><a href="#">خدمات</a></li>
      <li class="nav__item"><a href="#">پزشکان</a></li>
    </ul>
    <button class="btn btn--secondary">ارتباط با ما</button>
  </nav>
</nav>

<script src="./scripts/collapsible.js"></script>