<div class="qa section">
  <div class="collapsible qa--collapsible collapsible--expanded">
    <div class="collapsible__header">
      <p class="collapsible__heading">ساعات کاری مطب چگونه هست؟</p>
      <svg class="icon collapsible__chevron">
        <use xlink:href="./images/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      درمانگاه همیشه بازه حتی شبا البته با تغییر کاربری...
    </div>
    <div class="collapsible__line"></div>
  </div>
  
  <div class="collapsible qa--collapsible collapsible--expanded">
    <div class="collapsible__header">
      <p class="collapsible__heading">ساعات کاری مطب چگونه هست؟</p>
      <svg class="icon collapsible__chevron">
        <use xlink:href="./images/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      درمانگاه همیشه بازه حتی شبا البته با تغییر کاربری...
    </div>
    <div class="collapsible__line"></div>
  </div>

  <div class="collapsible qa--collapsible collapsible--expanded">
    <div class="collapsible__header">
      <p class="collapsible__heading">ساعات کاری مطب چگونه هست؟</p>
      <svg class="icon collapsible__chevron">
        <use xlink:href="./images/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      درمانگاه همیشه بازه حتی شبا البته با تغییر کاربری...
    </div>
    <div class="collapsible__line"></div>
  </div>
  
</div>
<script src="./scripts/collapsible.js"></script>