<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="qoute--container">
        <p class="qoute__text">
          یک کلینیک برزو و با تجربه با برخوردی گرم و دوستانه که همیشه به همه
          دوستان و اطرافیانم پیشنهاد کردم و میکنم
        </p>
        <div class="user">
          <div>
            <img src="./images/Avatar.png" alt="" class="avatar" />
            <div>
              <p class="user__name">دکتر مرتضی صبیحی</p>
              <p class="user__title">دندان پزشک</p>
            </div>
          </div>
          <svg class="icon">
            <use xlink:href="images/sprite.svg#quote"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="qoute--container">
        <p class="qoute__text">
          یک کلینیک برزو و با تجربه با برخوردی گرم و دوستانه که همیشه به همه
          دوستان و اطرافیانم پیشنهاد کردم و میکنم
        </p>
        <div class="user">
          <div>
            <img src="./images/Avatar.png" alt="" class="avatar" />
            <div>
              <p class="user__name">دکتر مرتضی صبیحی</p>
              <p class="user__title">دندان پزشک</p>
            </div>
          </div>
          <svg class="icon">
            <use xlink:href="images/sprite.svg#quote"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="qoute--container">
        <p class="qoute__text">
          یک کلینیک برزو و با تجربه با برخوردی گرم و دوستانه که همیشه به همه
          دوستان و اطرافیانم پیشنهاد کردم و میکنم
        </p>
        <div class="user">
          <div>
            <img src="./images/Avatar.png" alt="" class="avatar" />
            <div>
              <p class="user__name">دکتر مرتضی صبیحی</p>
              <p class="user__title">دندان پزشک</p>
            </div>
          </div>
          <svg class="icon">
            <use xlink:href="images/sprite.svg#quote"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./scripts/swiper.js"></script>
</div>