<div class="map--section">
  <div class="section card card--map grid grid--1x2">
    <div class="map--container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38482.58417074858!2d51.30407149040171!3d35.700569031068476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfe80bf1d829b%3A0xb725c22e17b43830!2sMehrabad%20International%20Airport!5e0!3m2!1sen!2s!4v1635581696980!5m2!1sen!2s"
        style="border: 0"
        height="100%"
        width="100%"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="media__container">
      <div class="map-media">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#location"></use>
        </svg>
        <p class="map-media_text">
          آدرس: براطکریم، مرکز کامپیوتر رباطکریم، واحد ۱۰
        </p>
      </div>
      <div class="map-media">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#support"></use>
        </svg>
        <p class="map-media_text">
          0912344321
        </p>
        <a href="tel:123-456-7890" class="btn btn--secondary">تماس</a>
        
      </div>
      <div class="map-media">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#email"></use>
        </svg>
        <p class="map-media_text">
          matabino@gmail.com
        </p>
      </div>
    </div>
  </div>
</div>